<!DOCTYPE html>
<html>
<head>
    <meta charset="urf-8">
    <title>Chat | Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="centered-form">
<div class="centered-form__form">
    <form id="join-form" action="/chat/" >
        <div class="form-field">
            <h3>{{locals.title}}</h3>
        </div>
        <div class="form-field">
            <lable>{{locals.nameLable}}</lable>
            <input type="text" name="name" autofocus/>
        </div>
        <div class="form-field">
            <lable>{{locals.roomLable}}</lable>
            <input type="text" name="room">
        </div>
        <div class="form-field">
            <select name="selected_room">{{#data.options}}
                <option value="{{value}}" {{#selected}} selected="selected"{{/selected}}>
                {{name}}
                </option>
                {{/data.options}}
            </select>
        </div>

        <div class="form-field">
            <button>{{locals.sendLable}}</button>
        </div>
    </form>
</div>
</body>
</html>
